/*---------GLOBAL---------*/
:root {
  --color-primary: #27348b;
  --color-primary-light: #0a58ca;
  --color-secondary: #e6e6fa;
  --color-red: #C12235;
  --color-dark-gray: #293133;
  --color-gray: #ccc;
  --color-light-gray: #dbdbdb;
  --color-white: #fff;
  --page-height: 100dvh;
  --nav-height: 10dvh;
  --body-height: calc(var(--page-height) - var(--nav-height)); /* Calcolo escludendo la navbar */
  --body-width: clamp(300px, 80vw, 2000px);
  --radius: 8px;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.content {
  width: var(--body-width);
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.titolo {
  position: relative;
  margin-bottom: 1em;
  font-size: clamp(1rem, 4vh, 2.5rem);
  align-self: flex-start;
  color: var(--color-dark-gray);
}

/*---------NAVBAR---------*/
.navbar {
  position: fixed;
  width: 100vw;
  height: var(--nav-height);
  background-color: var(--color-light-gray);
  display: flex;
  align-items: center;
}

.navbar .logo {
  height: var(--nav-height);
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navlinks a {
  min-width: 2em;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--color-primary);
  text-decoration: none;
  margin-right: 2em;
}

.navlinks a:hover {
  /*background-color: #aaa;*/
  color: var(--color-primary-light);
}

/*---------CALENDARIO---------*/
#calendar {
  width: 100%;
  /*height: clamp(300px, 80vh, 2000px);*/
}

.fc-header-cell {
  background-color: var(--color-primary);
  color: white;
}

.fc-daygrid-day {
  background-color: white;
}

/*---------PULSANTI-SOPRA-CALENDARIO---------*/
.settings {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Assicura che i div si posizionino ai lati opposti */
}

/*---------SELEZIONE-INSEGNAMENTO---------*/
.selezione-insegnamento {
  position: relative;
  display: flex;
}

/*---------DROPDOWN-ANNO---------*/
.selezione-anno {
  position: relative;
  display: inline-block;
}

.selezione-anno:hover .selezione-anno-menu {
  display: block;
}

#selezioneAnnoButton {
  padding: 10px;
  background-color: var(--color-primary-light);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.selezione-anno-menu {
  width: 100%;
  box-sizing: border-box;
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}

.selezione-anno-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.selezione-anno-item input {
  margin-right: 5px;
}