<div id="overlay" class="overlay">
  <div class="overlay-content">
    <span id="closeOverlay" class="close-btn">&times;</span>
    {% block content %}{% endblock %}
  </div>
</div>

<script>
  // Chiude l'overlay al click della X
  document.getElementById('closeOverlay').addEventListener('click', function () {
    document.getElementById('overlay').style.display = 'none';
  });

  // Chiude l'overlay se clicchi fuori dal form
  window.addEventListener('click', function (event) {
    if (event.target === document.getElementById('overlay')) {
      document.getElementById('overlay').style.display = 'none';
    }
  });
</script>