{% extends "template.html" %}

{% block head %}
<title>Elenco Esami</title>
<style>
  table {
    width: clamp(500px, 50vw, 1000px);
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #bbb;
    background-color: white;
  }

  thead th {
    background-color: #27348b;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  th,
  td {
    padding: 12px;
    border: 1px solid #bbb;
  }

  tbody tr:hover td {
    background-color: #f1f1f1;
  }

  .section {
    margin-bottom: 40px;
  }

  .filter-controls {
    margin-bottom: 20px;
  }

  .selezione-anno {
    position: relative;
    display: inline-block;
  }

  .selezione-anno-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
  }

  .selezione-anno-item {
    padding: 12px 16px;
    cursor: pointer;
  }

  .selezione-anno-item:hover {
    background-color: #f1f1f1;
  }
</style>
<script src="{{ url_for('static', filename='scripts/elencoEsami.js') }}"></script>
{% endblock %}

{% block body %}
<h1>Elenco Esami</h1>
<div class="filter-controls">
  <div class="selezione-anno">
    <button id="selezioneAnnoButton">Seleziona Anno del Corso</button>
    <div id="selezioneAnnoMenu" class="selezione-anno-menu">
      <form id="filterForm" method="GET" action="/flask/api/filtraEsami">
        <div class="selezione-anno-item" onclick="toggleCheckbox('year1')">
          <input type="checkbox" id="year1" name="academicYear" value="1">
          <span>Primo anno</span>
        </div>
        <div class="selezione-anno-item" onclick="toggleCheckbox('year2')">
          <input type="checkbox" id="year2" name="academicYear" value="2">
          <span>Secondo anno</span>
        </div>
        <div class="selezione-anno-item" onclick="toggleCheckbox('year3')">
          <input type="checkbox" id="year3" name="academicYear" value="3">
          <span>Terzo anno</span>
        </div>
      </form>
    </div>
  </div>
</div>
<table id="tabellaTutti">
  <thead>
    <tr>
      <th onclick="sortTable('tabellaTutti', 0)">Docente</th>
      <th onclick="sortTable('tabellaTutti', 1)">Insegnamento</th>
      <th onclick="sortTable('tabellaTutti', 2)">Aula</th>
      <th onclick="sortTable('tabellaTutti', 3)">Data</th>
    </tr>
  </thead>
  <tbody id="corpoTabellaTutti"></tbody>
</table>
{% endblock %}