/*------------------------------------MEDIA QUERIES------------------------------------*/
@media (max-width: 768px) {
  /* --------------- Navbar --------------- */
  .navbar {
    position: relative;
    padding: 0 1rem;
  }

  .navbar .logo {
    height: calc(var(--nav-height) * .8);
    margin-left: -1rem;
  }

  .hamburger-menu {
    display: flex;
    position: absolute;
    right: 1rem;
    z-index: 20;
  }

  .navlinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    flex-direction: column;
    overflow: hidden;
    z-index: 15;
    background-color: var(--color-nav);
  }

  .navlinks.open {
    max-height: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navlinks a {
    margin: .5rem 0;
    padding: .5rem 0;
    font-size: 1.2rem;
  }

  .vertical-divider {
    display: none;
  }

  #darkModeButton {
    position: absolute;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0;
  }
  
  /* --------------- Footer --------------- */
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  /* --------------- Content --------------- */
  .content {
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .content-inner {
    width: 90%;
    margin: 0 5%;
    transform: none;
  }

  .content-row {
    flex-direction: column;
    gap: 30px;
  }

  #calendar, #form-container {
    width: 100%;
    min-width: 100%;
  }

  /* --------------- Titolo e Anno Accademico --------------- */
  .header-controls {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .header-controls .titolo {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }

  .header-controls #annoAccademicoContainer {
    display: none;
  }

  .header-controls .anno-accademico-container {
    margin: auto;
  }

  /* --------------- Calendario --------------- */
  .fc .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .fc .fc-button {
    padding: 0.3em;
    font-size: 0.8em;
  }

  .fc .fc-view-harness {
    min-height: 400px;
    height: auto !important;
  }

  /* --------------- Sidebar --------------- */
  .toggle-sidebar-float {
    right: 100%;
    top: 5em;
  }

  .toggle-sidebar-float.sidebar-visible {
    right: 0;
  }

  .content-sidebar {
    position: absolute;
    transform: translateX(100%);
  }

  .message-sidebar {
    width: 100vw;
  }

  /* --------------- Miei Esami --------------- */

  .tab-content {
    width: 100%;
  }

  .col-responsive-hide {
    display: none;
  }

  .esami-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}